@using CMR.CustomHtmlHelpers;
<div class="sidebar">
    <ul>
        <li>
            <a href="#" class="head collapsed @Html.ActivePage("Account")"><i class="fa fa-users fa-lg"></i> Users <span class="arrow"></span></a>
            <ul class="sub-menu">
                <li class="@Html.ActivePage("Account","Register")">
                    @Html.ActionLink("Create new user", "Register", "Account")
                </li>
                <li class="@Html.ActivePage("Account","Index")">
                    @Html.ActionLink("List of users", "Index", "Account")
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="head collapsed @Html.ActivePage("Course")"><i class="fa fa-folder-open"></i> Course Mangement <span class="arrow"></span></a>
            <ul class="sub-menu">
                <li>
                    <a href="#">Create new course</a>
                </li>
                <li>
                    <a href="#">List of courses</a>
                </li>
            </ul>
        </li>

    </ul>
</div>
