@using CMR.CustomHtmlHelpers;
<div class="sidebar">
    <ul>
        <li>
            <a href="#" class="head collapsed @Html.ActivePage("DLT")"><i class="fa fa-users fa-lg"></i> PVC </a>
            <ul class="sub-menu">
                <li class="@Html.ActivePage("PVC","Index")">
                    @Html.ActionLink("Course Reports", "", "")
                </li>
                <li class="@Html.ActivePage("Report","StatisticReport")">
                    @Html.ActionLink("Statistic Report", "StatisticReport", "Report")
                </li>
                <li class="@Html.ActivePage("Report", "ExceptionReport")">
                    @Html.ActionLink("Exception Report", "ExceptionReport", "Report")
                </li>
            </ul>
        </li>
    </ul>
</div>
