@model IEnumerable<CMR.Models.CourseMonitoringReport>
@{
    var index = 1;
}
<h4>Your Report List</h4>
<table class="table">
    <tr>
        <th>
           
        </th>
        <th>
            @Html.DisplayName("Course Name")
        </th>
        <th>
            @Html.DisplayName("Academic Year")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                @index
    index++;
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AnnualCourse.Course.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnualCourse.academicYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproveStatu.name)
        </td>
        <td>
            @Html.ActionLink("Details", "ReportDetail", new { id = item.CourseMonitoringReportId })
            @{
    if (item.approveStatusId == 1 || item.approveStatusId == 3)
    {
        <text> |@Html.ActionLink("Edit", "EditReport", new { id = item.CourseMonitoringReportId }) |</text>
        <text>@Html.ActionLink("Delete", "DeleteReport", new { id = item.CourseMonitoringReportId })</text>
    }
}     
            
            
        </td>
    </tr>
}

</table>
