@model CMR.Models.CourseMonitoringReport

<div>
    <h4>AnnualCourseRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnnualCourse.Course.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualCourse.Course.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualCourse.academicYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualCourse.academicYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.markA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.markB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.markC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.markD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.clEvaluation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clEvaluation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApproveStatu.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproveStatu.name)
        </dd>

    </dl>
</div>
<p>
    @{
        if (Model.approveStatusId == 1 || Model.approveStatusId == 3)
        { 
            <text>@Html.ActionLink("Edit", "EditReport", new { id = Model.CourseMonitoringReportId }) |</text>
        }
}
    
    @Html.ActionLink("Back to List", "ReportList")
</p>
