@model CMR.Models.Course

@{
    ViewBag.Title = "AddCourse";
}

<h2>Add Course</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.courseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.courseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.courseName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.facultyId, "Faculty name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.facultyId, (SelectList)ViewBag.roles, "--- Select one ---", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.facultyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <a href="/Course/ViewAllCourse"><input type="button" value="Cancel" class="btn btn-default" /></a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ViewAllCourse")
</div>


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
