@model CMR.Models.CourseMonitoringReport

<div>
    <h4>CourseMonitoringReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Course Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnnualCourse.Course.courseName)
        </dd>
        <dt>
            @Html.DisplayName("Student Total")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentTotal)
        </dd>

        <dt>
            @Html.DisplayName("Mark A")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markA)
        </dd>

        <dt>
            @Html.DisplayName("Mark B")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markB)
        </dd>

        <dt>
            @Html.DisplayName("Mark C")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markC)
        </dd>

        <dt>
            @Html.DisplayName("Mark D")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markD)
        </dd>

        <dt>
            @Html.DisplayName("Evaluation")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clEvaluation)
        </dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproveStatu.name)
        </dd>
        <dt>
            @Html.DisplayName("DLT Response")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dltComment)
        </dd>
        <dt>
            @Html.DisplayName("Sender")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualCourse.Account.userName)
        </dd>
        <dt>
            Response
        </dt>

        <dd>
            <a href="#" data-toggle="modal" data-target="#myModal">Action</a>
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-sm-12">
        <div>
            <table>
                <tr>
                    <td>
                        <img src="@Url.Action("CreateScoreChart", Model)" alt="Score chart" />
                    </td>

                    <td>
                        <img src="@Url.Action("CreateResultChart", Model)" alt="Result chart" />
                    </td>
            </table>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Report Action</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ResponseComment", "DLT", FormMethod.Post, new {@id="form-comment" }))
                {
                    @Html.HiddenFor(model => model.CourseMonitoringReportId)
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Comment", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("dltComment", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#form-comment").submit(function () {
            var content = $("#comment_content").val().trim();
            if (content) {
                return true;
            }
            alert("Comment text must not be empty!");
            return false;
        });
    });

</script>
