@model CMR.Models.Account

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.dateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.dateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role.roleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.roleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { accountId = Model.accountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
