@model IEnumerable<CMR.Models.Account>

<p>
    @Html.ActionLink("Create New", "Register")
    @{
        var index = 0;
    }
</p>
<div>
    <table class="tablesaw" data-tablesaw-mode="stack">
        <thead>
            <tr>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">
                    #
                </th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                    @Html.DisplayName("User Name")
                </th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">
                    @Html.DisplayName("Full Name")
                </th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">
                    @Html.DisplayName("Role")
                </th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">
                    @Html.DisplayName("Telephone")
                </th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">
                    @Html.DisplayName("Email")
                </th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">
                    @Html.DisplayName("Address")
                </th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7">Action</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                index++;
                @index
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Profile.name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Role.roleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile.telephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile.address)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { accountId = item.accountId }) |
                        @Html.ActionLink("Detail", "Detail", new { accountId = item.accountId }) |
                        @Html.ActionLink("Delete", "Delete", new { accountId = item.accountId })
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

